body, #app, .container {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
}

.colour-bar-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.colour-bar {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
